main {
    max-width: 90%;
    margin: auto;
    text-align: center;
}

h1 {
    text-align: center;
    align-self: center;
}

a {
    display: block;
}

.link_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link_box {
    width: 200px;
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    margin: 3%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}