#sidebar {
    background-color: #707070;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
    align-items: center;
    
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    padding-bottom: 5%;
    width: 100%;
    border: 2px solid black;
    box-sizing: border-box;
}

.sidebar_container:last-of-type {
    margin-top: auto;
    margin-bottom: 10%;
}

input {
    width: 90%;
}

input[type=text] {
    box-sizing: border-box;
}

input[type=number] {
    box-sizing: border-box;
}

.text_submit {
    margin-bottom: 0.5em;
}

.item_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list_item {
    border: 2px solid black;
    box-sizing: border-box;
    word-break: normal;
    overflow-wrap: anywhere;
    width: 90%;
    min-height: 1em;
    margin: 1px;

    display: inline-flex;
}

.list_item:hover {
    border-color: darkgray;
}

.list_item .close_button {
    margin-left: auto;
    flex-basis: 10%;
}

.item_negated .list_item_text {
    text-decoration-line: line-through;
    color: #909090;
}

.control_box {
    display: flex;
    border: black 1px solid;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    padding: 2%;
    margin: 2%;
}

.control_box label {
    flex-grow: 1;
}

.control_box input{
    justify-self: flex-end;
}

#text_depth_number {
    flex-basis: 3em;
}

#size_picker_number {
    flex-basis: 6em;
}

.color_picker_container {
    display: inline-flex;
    border: black 1px solid;
    align-items: center;
    padding: 2%;
    margin: 2%;
}

.color_picker_container .color_display {
    height: 50%;
    aspect-ratio: 1;
    margin: 0;
}

.color_picker_number {
    max-width: 4em;
}

.color_control {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.datetime_entry {
    box-sizing: border-box;
}

#save_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hidden {
    display: none !important;
}

.checkbox_tree {
    display: flex;
    flex-direction: column;
    border: black 1px solid;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    padding: 2%;
    margin: 2%;
}

.checkbox_tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.checkbox_tree ul li ul {
    margin-left: 1em;
}

.checkbox_tree ul li label {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
}
