html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    font-size-adjust: none
}

#container {
    flex-basis: 90%;
    margin: 0.5%;
    padding: 0;
}

.svg_box {
    fill: "url(#Gradient2)";
    width: 100%;
    height: 100%;
}

.svg_box_selected {
    stroke: blue;
    stroke-width: 2%;
}

.svg_leaf .svg_box_selected {
    stroke: lightblue;
}

.svg_text {
    fill: none;
    stroke: none;
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

.svg_level_0 .svg_text {
    fill: #000000;
    stroke: white;
}

.svg_level_1 .svg_text {
    fill: #080808;
    stroke: white;
}

.svg_level_2 .svg_text {
    fill: #101010;
    stroke: white;
}

.svg_level_3 .svg_text {
    fill: #181818;
    stroke: white;
}

.svg_level_4 .svg_text {
    fill: #202020;
    stroke: white;
}

.svg_level_5 .svg_text {
    fill: #282828;
    stroke: white;
}

.svg_level_6 .svg_text {
    fill: #303030;
    stroke: white;
}

.svg_level_7 .svg_text {
    fill: #383838;
    stroke: white;
}

.svg_level_8 .svg_text {
    fill: #404040;
    stroke: white;
}

.svg_level_9 .svg_text {
    fill: #484848;
    stroke: white;
}

.svg_level_10 .svg_text {
    fill: #505050;
    stroke: white;
}

.svg_level_11 .svg_text {
    fill: #585858;
    stroke: white;
}

.svg_level_12 .svg_text {
    fill: #606060;
    stroke: white;
}

.svg_level_13 .svg_text {
    fill: #686868;
    stroke: white;
}

.svg_level_14 .svg_text {
    fill: #707070;
    stroke: white;
}

.svg_level_15 .svg_text {
    fill: #787878;
    stroke: white;
}

.svg_level_16 .svg_text {
    fill: #808080;
    stroke: white;
}
