html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    font-size-adjust: none
}

#container {
    flex-basis: 90%;
    margin: 0.5%;
    padding: 0;
}
