<!DOCTYPE html>
<html>
    <head>
        <title>Git Heat Map</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
    </head>
    <body>
        <main>
            <h1>Git Heat Map</h1>
            <h2>Repos</h2>
            <div class="link_container">
                {% for db in db_list %}
                    <a class="link_box" href="{{ db }}"><div>{{ db }}</div></a>
                {% endfor %}
            </div>
        <main>
    </body>
</html>