<!DOCTYPE html>
<html>
    <head>
        <title>{{ name }}</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/treemap.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/sidebar.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/overlay.css') }}">
    </head>
    <body>
        <div id="overlay" onclick="close_overlay()"></div>
        <div id="info_box"></div>
        <div id="container">
            <svg id="treemap_root_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://w3.org/1999/xlink" width=100% height=100%>
                <rect width="100%" height="100%" fill="url(#Gradient2)" opacity="10%"></rect>
            </svg>
        </div>
        <div id="sidebar">
            <div class="sidebar_container tooltip tooltip_reverse" id="email_filter">
                <span class="tooltiptext">Specific emails or wildcards<br>%@github.com<br>123@example.com</span>
                Email filter
                <button type="button" class="link_button" onclick="browse_authors()">Browse</button>
                <input type="text" name="email" class="text_entry"/>
                <input type="button" value="Add email" class="text_submit"/>
                <div class="item_list"></div>
            </div>
            <div class="sidebar_container" id="commit_filter">
                Commit filter
                <button type="button" class="link_button" onclick="browse_commits()">Browse</button>
                <input type="text" name="commit" class="text_entry"/>
                <input type="button" value="Add hash" class="text_submit"/>
                <div class="item_list"></div>
            </div>
            <div class="sidebar_container tooltip" id="filename_filter">
                <span class="tooltiptext">Specific file paths or wildcards<br>src/%<br>%.cpp</span>
                File path filter
                <button type="button" class="link_button" onclick="browse_files()">Browse</button>
                <input type="text" name="filenames" class="text_entry"/>
                <input type="button" value="Add filename" class="text_submit"/>
                <div class="item_list"></div>
            </div>
            <div class="sidebar_container" id="datetime_filter">
                Date filter
                <input type="datetime-local" name="dates_start" class="datetime_entry"/>
                <input type="datetime-local" name="dates_end" class="datetime_entry"/>
                <input type="button" value="Add date range" class="date_submit"/>
                <div class="item_list"></div>
            </div>
            <div style="width: 100%">
                <div class="checkbox_tree hidden" id="submodule_tree">
                    Submodules
                </div>
            </div>
            <div class="sidebar_container">
                Styling
                <div class="control_box tooltip">
                    <span class="tooltiptext">Disabled: highlight intensity proportional to total activity in that file matching the given filters.<br> Enabled (default): Divides intensity by total activity for that file.</span>
                    <label for="highlight_control">Fractional highlighting</label>
                    <input type="checkbox" name="highlight_control" id="highlight_control" checked="true"/>
                </div>
                <div class="control_box tooltip">
                    <span class="tooltiptext">How many layers deep to draw file/directory names, with larger numbers reducing performance.</span>
                    <label for="text_depth_number">Text levels</label>
                    <input type="number" name="text_depth_number" id="text_depth_number" value="1" min="0"/>
                </div>
                <div class="control_box tooltip">
                    <span class="tooltiptext">Don't render boxes below this size (number of changes), with larger numbers improving performance.</span>
                    <label for="size_picker_number">Min area</label>
                    <input type="number" name="size_picker_number" id="size_picker_number" value="0" min="0"/>
                </div>
                <div class="color_picker_container tooltip" id="sidebar_color_picker">
                    <span class="tooltiptext">Colour specific hue:<br>Disabled (default): Colour individual files by their extension.<br>Enabled: Colour all files the hue specified on the right.</span>
                    <button type="button" class="link_button" onclick="show_colours()">Extensions</button>
                    <input type="checkbox" name="filetype_highlight_control" id="filetype_highlight_control" checked="true"/>
                    <label for="color_control">Hue</label>
                    <div class="color_control">
                        <input type="range" class="color_picker_range" name="color_picker_range" value="0" min="0" max="360"/>
                        <input type="number" class="color_picker_number" name="color_picker_number" value="0" min="0" max="360"/>
                    </div>
                    <div class="color_display"></div>
                </div>
                <input type="button" value="Submit query" id="submit_query"/>
                <input type="button" value="Refresh" id="refresh_button" title="Redraw with new style parameters without sending a new query"/>
                <input type="button" value="Back" id="back_button" title="Go to previous folder view"/>
                <div id="save_button">
                    <input type="button" value="Export svg" title="Save whole canvas as a .svg file">
                </div>
                <a href="/">Index</a>
            </div>
        </div>
        <script>const DATABASE_NAME = "{{ name }}"; const QUERY_STRING = "{{ query_args }}"</script>
        <script src="{{ url_for('static', filename='javascript/overlay.js') }}"></script>
        <script src="{{ url_for('static', filename='javascript/treemap_style.js') }}"></script>
        <script src="{{ url_for('static', filename='javascript/treemap.js') }}"></script>
        <script src="{{ url_for('static', filename='javascript/sidebar.js') }}"></script>
    </body>
</html>