<!DOCTYPE html>
<html>
    <head>
        <title>{{ name }}</title>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/treemap.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/sidebar.css') }}">
    </head>
    <body>
        <div id="container">
            <svg id="treemap_root_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://w3.org/1999/xlink" width=100% height=100%>
                <defs>
                    <linearGradient id="Gradient2" x1="0%" x2="100%" y1="0%" y2="100%">
                        <stop offset="0%" style="stop-color: #333333; stop-opacity: 0.6"/>
                        <stop offset="100%" style="stop-color: #bbbbbb; stop-opacity: 0.2"/>
                    </linearGradient>
                </defs>
                <rect width="100%" height="100%" fill="url(#Gradient2)" opacity="10%"></rect>
            </svg>
        </div>
        <div id="sidebar">
            <div class="sidebar_container" id="email_filter">
                Email filter
                <input type="text" name="email" class="text_entry"/>
                <input type="button" value="Add email" class="text_submit"/>
                <div class="item_list"></div>
            </div>
            <div class="sidebar_container" id="commit_filter">
                Commit filter
                <input type="text" name="commit" class="text_entry"/>
                <input type="button" value="Add hash" class="text_submit"/>
                <div class="item_list"></div>
            </div>
            <div class="sidebar_container" id="filename_filter">
                Filename filter
                <input type="text" name="filenames" class="text_entry"/>
                <input type="button" value="Add filename" class="text_submit"/>
                <div class="item_list"></div>
            </div>
            <div class="sidebar_container" id="datetime_filter">
                Date filter
                <input type="datetime-local" name="dates_start" class="datetime_entry"/>
                <input type="datetime-local" name="dates_end" class="datetime_entry"/>
                <input type="button" value="Add date range" class="date_submit"/>
                <div class="item_list"></div>
            </div>
            <div class="sidebar_container">
                <label for="text_depth_number">Text rendering depth</label>
                <input type="number" name="text_depth_number" id="text_depth_number" value="1" min="0"/>
                <label for="size_picker_number">Minimum size drawn</label>
                <input type="number" name="size_picker_number" id="size_picker_number" value="0" min="0"/>
                <div class="color_picker_container" id="sidebar_color_picker">
                    <label for="color_control">Hue</label>
                    <div class="color_control">
                        <input type="range" class="color_picker_range" name="color_picker_range" value="0" min="0" max="360"/>
                        <input type="number" class="color_picker_number" name="color_picker_number" value="0" min="0" max="360"/>
                    </div>
                    <div class="color_display"></div>
                </div>
                <input type="button" value="Submit query" id="submit_query"/>
                <input type="button" value="Back" id="back_button"/>
                <div id="save_button">
                    <input type="button" value="Export svg">
                </div>
                <a href="/">Index</a>
            </div>
        </div>
        <script>const DATABASE_NAME = "{{ name }}"; const QUERY_STRING = "{{ query_args }}"</script>
        <script src="{{ url_for('static', filename='javascript/treemap_style.js') }}"></script>
        <script src="{{ url_for('static', filename='javascript/treemap.js') }}"></script>
        <script src="{{ url_for('static', filename='javascript/sidebar.js') }}"></script>
    </body>
</html>